<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144726595-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-144726595-1');
        </script>        
        <meta charset="utf-8">
        <title>{{ page.title }} / Daniel Zhao</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/styles/main.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <header>
            <div id="siteTitle">
                <a href="/">Daniel Zhao</a>
            </div>
            <nav>
                {% include nav.html %}
            </nav>
        </header>
        <main>
            <div class="wide">
                {{ content }}
            </div>
        </main>
        <footer>
            <div class="icon-bar">
                <a href="https://instagram.com/danielzhao.ph" class="fa fa-instagram" target="_blank"></a>
                <a href="https://twitter.com/iamdanzhao" class="fa fa-twitter" target="_blank"></a>
                <a href="https://medium.com/@danielzhao" class="fa fa-medium" target="_blank"></a>
                <a href="https://linkedin.com/in/iamdanzhao" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://github.com/iamdanzhao" class="fa fa-github" target="_blank"></a>
            </div>
            <p><strong>© 2021 Daniel Zhao</strong></p>
        </footer>
    </body>
</html>