html {
    background-color: #fefefe;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
    line-height: 85%;
    margin: 0.25em 0 0.5em 0;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    margin: 0.5em 0 1em 0;
}

.subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75em;
    margin: 0.5em 0 0.5em 0;
    font-weight: 700;
}

.byline {
    font-family: 'Work Sans', sans-serif;
    line-height: 75%;
    margin: 1.25em 0 0.5em 0;
    font-weight: 700;
}

.ydn-logo {
    width: 50%;
    max-width: 300px;
    display: block;
    margin: 1em auto;
}

div.viz h2 {
    margin-bottom: 0em;
}

.description {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 75%;
    margin: 0;
}

svg {
    margin-top: 2em;
}

.row.bleed {
    margin: 0 auto;
}

.row.wide {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.5em;
}

.row.narrow {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 1.5em 0 1.5em;
}

.cols {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.viz {
    width: 100%;
    padding-right: 0;
    font-family: 'Work Sans'
}

@media screen and (min-width: 768px) {
    .row .viz {
        width: calc(33.33% - 3em);
        padding-right: 3em;
    }
    
    
    .row.wide {
        padding: 1.5em 4.5em;
    }
    
    .header-img {
        height: 60vh;
    }
    
    
    .article-info {
        margin-top: 3em;
    }

}

.header-img {
    width: 100%;
    object-fit: cover;
}