html {
    background-color: #fefefe;
    font-family: 'Work Sans', sans-serif;
    padding: 1.5em;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
    line-height: 85%;
    margin: 0.5em 0 0.5em 0;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    margin: 0.5em 0 1em 0;
}

.subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75em;
    margin: 0.5em 0 0.5em 0;
}

.byline {
    font-family: 'Work Sans', sans-serif;
    line-height: 75%;
    margin: 1.5em 0 0.5em 0;
}

.ydn-logo {
    width: 50%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.article-text {
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
}

.article-text p {
    margin-bottom: 24px;
}

div.viz h2 {
    margin-bottom: 0.25em;
}

.description {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 75%;
    margin: 0;
}

svg {
    margin-top: 2em;
}

.row.wide {
    max-width: 1440px;
    margin: 0 auto;
}

.row.narrow {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.cols {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.viz {
    width: 100%;
    padding-right: 0;
}

@media screen and (min-width: 640px) {
    .row .viz {
        width: calc(33.33% - 3em);
        padding-right: 3em;
    }
}