ol,
ul {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    font-size: 100%;
}

ul {
    padding-left: 40px;
}

ul li {
    text-indent: -1.875em;
}

ul li:before {
    content: "+";
    padding-right: 1.35em;
}

main p {
    font-size: 120%;
    line-height: 175%;
}

main li {
    font-size: 115%;
    line-height: 150%;
}

h2 {
    color: var(--color-blue);
}

h3 {
    color: var(--color-slate);
}