body {
    font-family: 'IBM Plex Sans', 'Segoe UI', 'Helvetiva Neue', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.85em;
}

main a:not(.button):not(.fa):not(.bs-carousel-container a) {
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(31, 150, 255, 0.2)), to(rgba(31, 150, 255, 0.2)));
    background: linear-gradient(to bottom, transparent 0, transparent 60%, rgba(31, 150, 255, 0.2) 60%, rgba(31, 150, 255, 0.2) 100%);
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

main a:not(.button):not(bs-carousel-container a):focus,
main a:not(.button):not(bs-carousel-container a):hover {
    background: #1f96ff;
    color: #fff;
    transition: all 0.25s;
}

header {
    padding: 0 auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3em;
}

header a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

header a:hover {
    color: rgb(31, 150, 255);
    transition: all 0.25s;
}

#siteTitle {
    font-size: 150%;
    letter-spacing: .3em;
}

#siteTitle a {
}

nav {
    margin-left: auto;
}


nav a {
    font-size: 85%;
    letter-spacing: 0.05em;
    margin: 1em;
}

.soon {
    color: lightslategrey;
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }
    
    nav {
        margin-top: 18px;
    }
    
    nav a:first-child{
        margin-left: 0;
    }
}

main {
    padding-top: 8em;
}

main .section {
    padding-top: 1em;
    padding-bottom: 1em;
}

.narrow {
    max-width: 480px;
    padding: 3em;
    margin: 0 auto;
}

.wide {
    max-width: 768px;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
}

.full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-bottom: 0.5em;
    font-weight: 600;
    font-size: 300%;
}

h4 {
    text-transform: uppercase;
    font-size: 100%;
}

.cols {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.box {
}

.half {
    width: 50%;
}

.third {
    width: 33.333%;
}

.quarter {
    width: 25%;
}

@media screen and (max-width: 720px) {
    .half {
        width: 100%;
    }
    
    .third {
        width: 100%;
    }
    
    .quarter {
        width: 50%;
    }
}

.sep:before {
    content: "";
    display: block;
    position: relative;
    width: 100px;
    left: -1.5em;
    height: 1px;
    border-bottom: 2px solid rgba(42, 69, 106, 0.4);
}

.sep {
}

img {
    width: 100%;
    border: none;
}

ul {
    margin-bottom: 1.5em;
    list-style: outside none;
    padding: 0;
}

/*
ul li:before {
    content: "+";
    padding-right: 0.95em;
}
*/

ul li >,
ol li > * {
    padding: 0;
    margin: 0;
}

.fa {
    padding: 6px;
    margin-right: 3px;
    font-size: 75% !important;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

.fa:hover {
    opacity: 0.5;
    transition: all 0.25s;
}

.icon-bar {
    margin-top: -3px;
    margin-right: 30px;
}

footer {
    padding: 0 auto;
    display: flex;
    align-items: center;
    padding: 3em;
}


footer > * {
    display: block;
}


.social-links-prof span {
    display: block;
    margin: .25em 0;
}

.social-links-prof span .fa {
    margin-right: 1em;
}

#bio-prof-pic {
    border-radius: 50%;
    width: 360px;
    float: right;
    margin: -140px 0 20px 40px;
}

@media screen and (max-width: 768px) {
    #bio-prof-pic {
        float: none;
        margin: 0;
        margin-bottom: 20px;
        margin-top: -120px;
        width: 240px;
    }
}

.project {
    background-color: #f5f8fc;
}

.project.half {
    width: calc(50% - 6px); /* 1em padding on each side + .5em padding each side in bewteen */
    margin-bottom: 12px;
}

.project.third {
    width: calc(33.333% - 9px);
    margin-bottom: 12px;
}

.project.full {
    width: 100%;
}

.project > *:not(img){
    margin-left: 24px;
    margin-right: 24px;
    display: block;
}

.project > *:first-child:not(img) {
    margin-top: 24px;
}

.project.full .title {
    margin-top: 18px;
}

.project.half img {
    object-fit: cover;
    height: 240px;
}

.project.full img {
    height: 100%;
    max-width: 50%;
    object-fit: cover;
    float: left;
    margin-right: 24px;
}

.project .title {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 24px !important;
    margin-bottom: 18px;
}

.project .subtitle {
    font-weight: bold;
    margin-left: 24px;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1em;
}

.project .tool-bar,
.project .action-bar {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
    line-height: 2em;
}

.project .description {
    margin-left: 24px;
    margin-top: 18px;
    font-size: 85%;
    line-height: 1.25em;
}

.project .tool {
    background-color: salmon;
    color: white;
    padding: .25em .5em;
}

.project .action {
    background-color: lightslategray;
    padding: .25em .5em;
}

.project .button {
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.project .button:hover,
.project .button:active {
    opacity: 0.5;
    transition: all 0.25s;
}

.project .label {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}

.project > *:last-child {
    margin-bottom: 24px;
}

.project-container .half:nth-child(odd) {
    margin-right: 6px;
}

.project-container .half:nth-child(even) {
    margin-left: 6px;
}

.project-container .third:nth-child(3n+1) {
    margin-right: 6px;
}

.project-container .third:nth-child(3n+2) {
    margin-right: 6px;
    margin-left: 6px;
}

.project-container .third:nth-child(3n) {
    margin-left: 6px;
}

.project-container .third .subtitle {
    margin-top: -6px;
    margin-bottom: 18px;
}

@media all and (max-width: 720px) {
    .project img {
        width: 100% !important;
        height: 270px;
        float: none;
    }
    
    .project.half {
        width: 100%;
    }
    
    .project-container .half:nth-child(odd) {
        margin-right: 0;
    }

    .project-container .half:nth-child(even) {
        margin-left: 0;
    }
}

.carousel-control {
    text-align: center;
}