:root {
    --color-blue: #0083ff;
    --color-slate: #415869;
    --color-offwhite: #faf9f7;
    --color-lightgray: #ededed;
}

html {
    background-color: var(--color-offwhite);
}

body {
    font-family: 'neue-haas-unica', 'SF Pro', 'Segoe UI', 'Helvetiva Neue', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    background-color: var(--color-offwhite);
    letter-spacing: -0.01em;
}

@media screen and (max-width: 640px) {
    body {
        font-size: 95%;
    }
}

/** ELEMENTS **/

a {
    color: black;
    font-weight: 500;
    text-decoration: underline 0.5px;
    text-underline-offset: 6px;
    text-decoration-color: var(--color-slate);
    transition: all 0.25s ease-in-out;
}

a:focus,
a:hover {
    color: var(--color-blue);
    transition: all 0.25s ease-in-out;
    text-decoration-color: rgba(0, 131, 255, 0.5)
}

p, li {
    font-size: 115%;
    line-height: 150%;
}

img {
    width: 100%;
    border: none;
    position: relative;
    display: block;
    z-index: 2000;
    margin-top: 1em;
}

/** NAV **/

header {
    padding: 0 auto;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 3em;
}

header a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

header a:hover {
    color: var(--color-blue);
    transition: all 0.25s;
}

@media screen and (max-width: 640px) {
    header {
        padding: 1.5em;
        position: relative;
        display: block;
        z-index: 2000;
    }
}

nav {
    z-index: 2000;
    margin-left: auto;
}

nav a {
    font-size: 16px;
    font-weight: 600;
    margin: 1em;
}

nav a.active {
    text-decoration: underline 0.5px;
}

@media screen and (max-width: 640px) {
    nav {
        margin-top: 18px;
    }
    
    nav a:first-child{
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    nav a {
        margin: 1em 0.5em;   
    }
}

/** LAYOUT **/

main {
    padding-top: 4em;
}

.wide {
    max-width: 640px;
    padding: 1.5em 3em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 640px) {
    .wide {
        padding: 0.75em 1.5em;
    } 

    .wide > *:first-child {
        margin-top: 0;
        margin-bottom: 0; /* quick fix, may need to take another look */
    }

    .wide > *:last-child {
        margin-bottom: 0;
    }
}

/** HOMEPAGE TEXT **/

.intro {
    padding-bottom: calc(2vh + 1vw);
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 65vh;
}

.intro *:not(p) + p {
    margin-top: 1.5em;
}

.intro h1 {
    font-weight: 600;
    letter-spacing: -0.02rem;
    margin-bottom: 0.5em;
}

.intro h2 {
    font-size: 130%;
    font-weight: 400;
    letter-spacing: -0.01rem;
}

ul.socials {
    margin-top: 1.36em;
    padding-inline-start: 0;
}

ul.socials li {
    display: inline;
    list-style: none;
}

ul.socials li:not(:first-child) {
    margin-left: 1em;
}

/** PROFILE PIC **/

#bio-prof-pic {
    border-radius: 50%;
    width: 270px;
    float: right;
    margin: -100px -20px 24px 20px;
}

@media screen and (max-width: 640px) {
    #bio-prof-pic {
        /* float: none; */
        margin: 0;
        margin-bottom: 20px;
        margin-top: -120px;
        width: 220px;
    }
}

@media screen and (max-width: 480px) {
    #bio-prof-pic {
        width: 180px;
        margin-top: -160px;
        display: none;
    }
}

@media screen and (max-width: 360px) {    
    #bio-prof-pic {
        width: 200px;
        margin-top: -180px;
    }
}